.foo-1 {
  zoom: 1;
}
.foo-1:before {
  content: '';
  display: block;
}
.foo-1:after {
  content: '';
  display: table;
  clear: both;
}
.foo-2 {
  zoom: 1;
}
.foo-2:before {
  content: '';
  display: block;
}
.foo-2:after {
  content: '';
  display: table;
  clear: both;
}
.foo-3 {
  zoom: 1;
}
.foo-3:before {
  content: '';
  display: block;
}
.foo-3:after {
  content: '';
  display: table;
  clear: both;
}
.foo-4 {
  zoom: 1;
}
.foo-4:before {
  content: '';
  display: block;
}
.foo-4:after {
  content: '';
  display: table;
  clear: both;
}
.foo-5 {
  zoom: 1;
}
.foo-5:before {
  content: '';
  display: block;
}
.foo-5:after {
  content: '';
  display: table;
  clear: both;
}
.foo-6 {
  zoom: 1;
}
.foo-6:before {
  content: '';
  display: block;
}
.foo-6:after {
  content: '';
  display: table;
  clear: both;
}
.foo-7 {
  zoom: 1;
}
.foo-7:before {
  content: '';
  display: block;
}
.foo-7:after {
  content: '';
  display: table;
  clear: both;
}
.foo-8 {
  zoom: 1;
}
.foo-8:before {
  content: '';
  display: block;
}
.foo-8:after {
  content: '';
  display: table;
  clear: both;
}
.foo-9 {
  zoom: 1;
}
.foo-9:before {
  content: '';
  display: block;
}
.foo-9:after {
  content: '';
  display: table;
  clear: both;
}
.foo-10 {
  zoom: 1;
}
.foo-10:before {
  content: '';
  display: block;
}
.foo-10:after {
  content: '';
  display: table;
  clear: both;
}
.foo-11 {
  zoom: 1;
}
.foo-11:before {
  content: '';
  display: block;
}
.foo-11:after {
  content: '';
  display: table;
  clear: both;
}
.foo-12 {
  zoom: 1;
}
.foo-12:before {
  content: '';
  display: block;
}
.foo-12:after {
  content: '';
  display: table;
  clear: both;
}
.foo-13 {
  zoom: 1;
}
.foo-13:before {
  content: '';
  display: block;
}
.foo-13:after {
  content: '';
  display: table;
  clear: both;
}
.foo-14 {
  zoom: 1;
}
.foo-14:before {
  content: '';
  display: block;
}
.foo-14:after {
  content: '';
  display: table;
  clear: both;
}
.foo-15 {
  zoom: 1;
}
.foo-15:before {
  content: '';
  display: block;
}
.foo-15:after {
  content: '';
  display: table;
  clear: both;
}
.foo-16 {
  zoom: 1;
}
.foo-16:before {
  content: '';
  display: block;
}
.foo-16:after {
  content: '';
  display: table;
  clear: both;
}
.foo-17 {
  zoom: 1;
}
.foo-17:before {
  content: '';
  display: block;
}
.foo-17:after {
  content: '';
  display: table;
  clear: both;
}
.foo-18 {
  zoom: 1;
}
.foo-18:before {
  content: '';
  display: block;
}
.foo-18:after {
  content: '';
  display: table;
  clear: both;
}
.foo-19 {
  zoom: 1;
}
.foo-19:before {
  content: '';
  display: block;
}
.foo-19:after {
  content: '';
  display: table;
  clear: both;
}
.foo-20 {
  zoom: 1;
}
.foo-20:before {
  content: '';
  display: block;
}
.foo-20:after {
  content: '';
  display: table;
  clear: both;
}
